<div style="height: 36px; width: 36px; vertical-align: middle; text-align: center; position: relative;">
    <img src="assets/profile/colors/color-{{profileIcon.color}}.png" width="25px" height="25px" style="margin-top: 6px;" />
    <img src="assets/profile/borders/border-{{profileIcon.border}}.png" width="32px" height="32px" style="position: absolute; left: 1px; top: 2px;" />
    <img src="assets/profile/icons/icon-{{profileIcon.icon}}.png" width="16px" height="16px" style="position: absolute; left: 9px; top: 10px;" />
</div>