.grid-container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100% - 64px);
    overflow: auto;
}

.grid-container>div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}

.grid-container div.margin-20 {
    margin: 20px;
}

.grid-container>div>div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.grid-container .generic-info {
    width: 100%;
    background-color: #2f3136;
    color: white;
}

.grid-container .history-statistics {
    width: 100%;
    background-color: #2f3136;
    color: white;
    display: flex;
    align-items: center;
}

.grid-container .history-statistics table.history-table>tbody>tr>td {
    border-top: solid 1px white;
}

.grid-container .history-statistics table.history-table>tbody>tr>td {
    padding: 4px;
}

.grid-container .chart-container {
    width: 100%;
    background-color: #2f3136;
}

.grid-container .stats-container {
    width: 100%;
    background-color: #2f3136;
}

.bordered {
    border: solid 1px white;
}

.result {}

.result.result-victory {
    color: #05C679;
}

.result.result-defeat {
    color: #F95249;
}