<div class="grid-container" *ngIf="player">
    <div class="margin-20 generic-info">
        <div>
            <profile-icon [icon]="player.profileIcon"></profile-icon>
        </div>
        <div><span class="flag-icon flag-icon-{{player.countryCode}} flag-icon-squared"></span>&nbsp;{{player.name}}</div>
        <div>{{player.stats.wins}} - {{player.stats.loses}} | {{player.stats.winrate}}%</div>
        <div>Current streak: {{player.stats.winStreak}}</div>
        <div>[Tue] {{player.stats.resultOnTue}} [Wed] {{player.stats.resultOnWed}} [Thu] {{player.stats.resultOnThu}}</div>
        <div>[Fri] {{player.stats.resultOnFri}} [Sat] {{player.stats.resultOnSat}} [Sun] {{player.stats.resultOnSun}}</div>
        <br/>
        <br/>
        <div>
            <div>
                <div style="padding: 4px;">
                    <table>
                        <thead>
                            <th>Player</th>
                            <th>Total games</th>
                            <th>Winrate</th>
                        </thead>
                        <tbody>
                            <tr class="bordered">
                                <td style="text-align: right;border-bottom: solid 1px;border-top: solid 1px;" colspan="3" class="subheading-2">Top 5 teammates by winrate</td>
                            </tr>
                            <tr class="bordered" *ngFor="let teammate of player.stats.top3TeammatesByWinrate">
                                <td style="text-align: right;">{{teammate.player.name}}</td>
                                <td style="text-align: right;">{{teammate.totalGames}}</td>
                                <td style="text-align: right;">{{teammate.winrate}}%</td>
                            </tr>
                            <tr class="bordered">
                                <td style="text-align: right;border-bottom: solid 1px;border-top: solid 1px;" colspan="3" class="subheading-2">Top 5 teammates by games played</td>
                            </tr>
                            <tr class="bordered" *ngFor="let teammate of player.stats.top3TeammatesByGamesPlayed">
                                <td style="text-align: right;">{{teammate.player.name}}</td>
                                <td style="text-align: right;">{{teammate.totalGames}}</td>
                                <td style="text-align: right;">{{teammate.winrate}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="padding-left: 24px;">
                <div style="padding: 4px;">
                    <table>
                        <thead>
                            <th>Rank</th>
                            <th>Opponent</th>
                            <th>Season</th>
                            <th>Result</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let opponent of player.stats.top5Opponents">
                                <td style="text-align: right;">{{opponent.rank}} ({{getMSARank(opponent.season)}})</td>
                                <td style="text-align: right;">{{opponent.name}}</td>
                                <td style="text-align: right;">{{opponent.season}}</td>
                                <td style="text-align: right;">{{opponent.warResult == 1 ? 'Victory' : 'Defeat'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
    <div class="margin-20 day-statistics">
        <div>
            <div> chart placeholder</div>
        </div>
    </div>
    <div class="margin-20 chart-container">
        <div>3</div>
    </div>
    <div class="margin-20 stats-container">
        <div>4</div>
    </div>
</div>