.grid-container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100% - 64px);
    overflow: auto;
}

.grid-container>div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}

.grid-container div.margin-20 {
    margin: 20px;
}

.grid-container>div>div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.grid-container .generic-info {
    width: 100%;
    background-color: #392C24;
    color: white;
}

.grid-container .day-statistics {
    width: 100%;
    background-color: brown;
}

.grid-container .chart-container {
    width: 100%;
    background-color: chartreuse;
}

.grid-container .stats-container {
    width: 100%;
    background-color: coral;
}