<div *ngIf="survivor" class="survivor-panel" [class]="survivor.rarityColor">
    <div class="top-badge-container">

    </div>
    <div class="header">
        <div class="survivor-class">
            <profile-icon [icon]=survivor.profileIcon></profile-icon>
            <!-- <img [src]="survivor.profileIcon" /> -->
        </div>
        <div class="survivor-name">
            <span style="padding-right: 5px;"> {{ survivor.name }} </span>
        </div>
    </div>
    <div class="body">
        <div class="level-container">
            <div class="level"><span class="flag-icon flag-icon-{{survivor.country}} flag-icon-squared"></span></div>
            <div class="stars">
                <mat-icon *ngFor="let color of survivor.starColors" [class]="color">star_rate</mat-icon>
            </div>
        </div>
        <div class="weekday-stats-container">
            <gw-weekdays-stats [stats]="survivor.daysStats"></gw-weekdays-stats>
        </div>
        <div class="stats-container">
            <span style="padding-top: 8px;">{{ survivor.winLoseStats.wins }} - {{ survivor.winLoseStats.loses }} | {{ survivor.winLoseStats.winrate }}%</span>
        </div>
    </div>
    <div class="footer">
        <!-- <div class="survivor-trait" *ngFor="let trait of survivor.traits">
            <img [src]="trait.survivorTraitIcon" />
        </div> -->
    </div>
</div>